body
{
    background-color: white;
}

h1
{
    color: black;
}

#info
{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.left
{
    border: blue solid 5px;
    border-radius: 15px;
}

.left h4
{
    color: 00B656;
    padding: 10px;
    font-weight: 100;
}

.right h4
{
    font-style: italic;
    font-weight: 100;
    text-align: right;
    padding: 10px;
    color: blue
}

h1:nth-child(n+2)
{
    padding-top: 80px;
}

#slider
{
    width: 300;
}

#part1Left
{
    float: left;
}